/* remove browser defauts **********/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Setting page background color */
body {
    background-color: #d9dcd6;
}

/* Header menu bar bgcolor and font color */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* Heading Horiseon of the page */
.header h1 {
    display: inline-block;
    font-size: 48px;
}

/* font contrast to have letters SEO stand out */
.header h1 .seo {
    color: #d9dcd6;
}

/* Setting menu items their box attribute values */
.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header div ul {
    list-style-type: none;
}

/* Set list items inline */
.header div ul li {
    display: inline-block;
    margin-left: 25px;
}

/* Set properties for all anchors */
a {
    color: #ffffff;
    text-decoration: none;
}

/* Hero image URL & properties */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* Set font size for all paragraph elements */
p {
    font-size: 16px;
}

/* A class to place the image to the left of the container */
.float-left {
    float: left;
    margin-right: 25px;
}

/* A class to place the image to the right of the container */
.float-right {
    float: right;
    margin-left: 25px;
}

/* Main content container properties */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* Aside container properties */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* Begin main sections styling *****************/
section {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* main section images */
section img {
    max-height: 200px;
}

/* main sections titles */
section h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/* End of main section styling *************/

/* Begin styling for articles in aside section *************/
article {
    margin-bottom: 32px;
    color: #ffffff;
}

article h3 {
    margin-bottom: 10px;
    text-align: center;
}

article img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/* end of aside styling **************/

/* footer styling ****************/
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}
/* end of footer styling *************/